body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

*{
    padding: 10px;
    box-sizing: border-box;
}
/* top css */
.header{
    display: flex;
}
 ul{
    display: flex;
    margin: 0;
    padding: 0;
 }

 li{
    list-style: none;
 }

img{
    width: 400px;
}

*{
    border-style: solid;
    border-color: red;
    ;
}

.top{
    background-color: #1F2937;
}