.html{
box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

/* header */

.header-text{
display: flex;
font-family:Georgia, 'Times New Roman', Times, serif;
background-color: #1f2937;
color:#F9FAF8;
}

{

}