.html{
box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

/* main */
.main{
    margin: 0;
}

/* header */

.header-text{
font-family:Georgia, 'Times New Roman', Times, serif;
background-color: #1f2937;
color:#F9FAF8;
}

ul, .logo{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}




